

#Titre{
    text-align:center;
    font-size:400%;

}

#fond{
    background-image:url('web/imgs/deathstar.png') ;
    background-repeat: no-repeat;
    background-size:cover;
    color:yellow;
}
#corp{
    margin:auto;
    text-align:center;
}
