<html>
  <head>
    <meta charset="utf8" />  
    <title>{% block title%}Love letter {% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{asset('style.css')}}" />
    {% endblock %}
    <style>
      
    </style>
  </head>

  <body id="fond">
    
    
    <h1 id="Titre">Love Letter</h1>
    <div id="corp">
    <p>Bienvenue sur LOVE LETTER, une adaptation du jeu de Seiji Kanai.<br>
      Le but du jeu consiste à finir avec la carte ayant le rang le plus élevé</br> afin d'&ecirctre celui qui portera la lettre d'amour à la princesse Annette.<br>
      Vous pouvez consulter les règles officielles <a href ="https://www.alderac.com/tempest/files/2012/09/Love_Letter_Rules_Final.pdf">ici</a>.<br>
      Et consulter une traduction en Français <a href = "http://www.ludosbxl.irisnet.be/docnotice/love_letter_2016_03_14_11_22_11.pdf">ici<a>
      
    </p>
    </div>
    <div id="connexion">
      <p>
	Pour jouer, vous pouvez vous inscrire :
	<a href ="/register" >Inscrit toi à l'Académie</a><br>
	Où vous connecter :
	<a href ="/login" >Connecte-toi à la force</a><br>
	<a href ="/logout" > Deconnecte-toi de la force</a><br>
	
      </p>
    </div>

  </body>
</html>
