<html>
<<<<<<< HEAD
    <head>
    </head>



    <img src="../../../../../../imgs/deathstar.png" id="background"/> 

=======
  <head>
    <style>
      body{
      background:url("{{asset('imgs/deathstar.png')}}");
      background-repeat: no-repeat;
      background-size:cover;
      color:green;
      }
      #inscription{
      text-align:center;
      text-decoration:underline;
      color:yellow;
      }
      #form{
      text-align:center;
      }
    </style>
    </head>
   
<body>

<div id='inscription'><h1>INSCRIPTION</h1></div></br>

<div id='form'>
>>>>>>> bd2be8f0cbf455371cd1d1970f2cd228fbf9d808
{{ form_start(form) }}
    {{ form_row(form.username) }}</br>
    {{ form_row(form.email) }}</br>
    {{ form_row(form.plainPassword.first) }}</br>
    {{ form_row(form.plainPassword.second) }}</br>

    <button type="submit">Register!</button>
{{ form_end(form) }}
<<<<<<< HEAD

=======
</div>
>>>>>>> bd2be8f0cbf455371cd1d1970f2cd228fbf9d808



    </body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> bd2be8f0cbf455371cd1d1970f2cd228fbf9d808
